.question {
  font-family: lucida sans;
  font-size: 12px;
  font-weight: 400;
  padding: 10px;
}

.user {
  font-family: lucida sans;
  font-size: 14px;
  font-weight: 400;
  padding: 5px 10px;
}

.text {
  padding: 5px 10px 5px 10px;
  height: 50px;
  font-size: 14px;
  font-weight: 400;
}

.wrapper {
  font-family: lucida sans;
  padding-top: 10px;
  padding-left: 10px;
  /* height: 40px; */
  /* font-size: 14px;
  font-weight: 400; */
}