.wrapper {
  font-family: futura;
  padding-top: 10px;
  padding-left: 10px;
}

.rowContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 100%;
}

.colContainer {
  display: flex;
  flex-flow: column nowrap;
}

.user {
  font-family: lucida sans;
  font-size: 14px;
  font-weight: 400;
  padding: 5px 10px;
}

.text {
  padding: 5px 10px 5px 10px;
  height: 50px;
  font-size: 14px;
  font-weight: 400;
}

.answerCountWrapper {
  width: 100px;
  display: flex;
  flex-flow: column nowrap;
  padding-top: 5px;
}

.answerCountData {
  width: 100px;
  font-size: 16px;
  text-align: center;
}

.answerCountLabel {
  width: 100px;
  font-size: 12px;
  text-align: center;
}
