node_modules/
client/dist/bundle.js
client/dist/main.bundle.js
coverage
*.DS_Store
.DS_Store
__mocks__/

data-generation/products.csv
data-generation/answers.csv
data-generation/questions.csv
data-generation/users.csv
