.controlBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color:#CCCCCC;
  padding: 10px;
  margin: 5px;
  border-radius: 3px;
  font-family: futura;
  font-size: 14px;
  font-weight: 100;
}

.label {
  font-family: futura;
  font-size: 14px;
  font-weight: 100;
  /* padding: 10px; */
}