.button {
  background-color: #999999;
  color: #FFFFFF;
  font: Futura;
  font-size: 14px;
  font-weight: bold;
  border-style: none;
  width: 162px;
  height: 22px;
  margin: 10px;
  border-radius: 3px;
  outline: none;
  transition: all .25s ease;
}

.button:hover {
  color: #FFFFFF;
  background-color: #ED1923;
}