.button {
  color: #FFFFFF;
  background-color: #999999;
  font: Futura sans;
  font-size: 13px;
  font-weight: bold;
  border-style: none;
  width: 70px;
  margin: 0 5px;
  border-radius: 3px;
  outline: none;
  transition: all .1s ease;
}

.button:hover {
  color: #FFFFFF;
  background-color: #ED1923;
}
