.wrapper {
  font-family: 'Futura';
  /* font-family: source-sans-pro, sans-serif; */
  /* font-family: 'Nunito', sans-serif; */
  font-size: 16px;
  font-weight: 700;
  letter-spacing: .1rem;
  margin: 40px 0 0;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.menu {
  display: flex;
  list-style: none;
}

.menuItem {
  margin: 0 20px;
  font-weight: 300;
}

.menuItemSelected {
  margin: 0 20px;
  font-weight: 700;
}